<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/animals/<%= animal._id %>?_method=PUT" method="post">
          <fieldset>
            <legend>Create a New Animal</legend>
            <label>
              Species:<input
                type="text"
                name="name"
                value="<%= animal.name %>"
                placeholder="enter animal name"
              />
            </label>
            <label>
                Extinct:<input type="checkbox" name="extinct" <%=
                animal.extinct ? "checked" : "" %> />
              </label>
            <label>
              Location:<input
                type="text"
                name="location"
                value="<%= animal.location %>"
                placeholder="enter animal location"
              />
            </label>
            <label>
                Life Expectancy:<input
                  type="number"
                  name="life Expectancy"
                  value="<%= animal.lifeExpectancy %>"
                  placeholder="enter life expectancy"
                />
              </label>
          </fieldset>
          <input type="submit" value="create new fruit" />
        </form>
      </div>
    </main>
  </body>
</html>